Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
funasr==1.0.27
librosa==0.10.2.post1
numpy==1.26.4
openai==1.23.6
openai-whisper==20231117
opensmile==2.5.0
pandas==2.2.2
pydub==0.25.1
requests==2.31.0
scikit-learn==1.4.2
soundfile==0.12.1
torch==2.7.1
torchaudio==2.7.1
transformers==4.32.0
